h1{
    background-color: black;
    color: white;
}
.cloud{
    color:aqua

}
h2{
    background-color: #663399;
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: -16px;
}
h3{
    background-color: #9fc5f8;
    text-decoration: underline;
    text-align: end;
    margin-top: -16px;
    
}
